.DS_Store
Thumbs.db

*.log
*.sql
*.sql.gz
*.zip
*.tar
*.tar.gz
*.tgz
*.gz
*.bak
*.old
*.tmp
*.swp
*.swo

/wp-config.php
/wp-config.php.*
/wp-content/uploads/
/wp-content/cache/
/wp-content/upgrade/
/wp-content/upgrade-temp-backup/
/wp-content/debug.log
/wp-content/debug.log-*
/wp-content/object-cache.php
/wp-content/advanced-cache.php
